<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>first micro</title>
</head>

<body>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XE21ZZ8ZV7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-XE21ZZ8ZV7');

    
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <canvas id="egeaChart" width="400" height="400"></canvas>
    
    <a style="color:red;" href="/logger/">See logs here</a>
    <a style="color:red;" href="/text/"> See a message here</a>
    <a style="color:red;" href="/cookies/"> See google analytics here</a>

</body>

</html>