<!DOCTYPE html>
<html>
  <body>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XE21ZZ8ZV7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-XE21ZZ8ZV7');
    </script>
    <script>
      function message() {
        
        //var message = document.getElementById("message").value;
        console.log("message");
        
    }
      window.onload = message
    </script>
    <a href="/"> Home</a>
  </body>
</html>